body{
    position: relative;
    width: 1440px;
    height: 2728px;
    background: #FFECEC;
}

#craftastic{
    position: absolute;
    width: 1440px;
    height: 920px;
    left: -2px;
    top: 104px;
    background: linear-gradient(0deg, rgba(255, 236, 236, 0.2), rgba(255, 236, 236, 0.2));
}

/* #cat-img > img:first-child {
    position: absolute;
    width: 287px;
    height: 298px;
    left: 0px;
    top: 1089px;
} */

#cat-img::after{
    content: "";
  clear: both;
  display: table;
}

.rendered-img{
    margin-top: 1089px;
    float: left;
  width: 20%;
  padding: 5px;
}

.discount-img{
    margin-top: 150px;
    float: left;
  width: 20%;
  padding: 5px;
}

/* .discount-box{
    float: left;
  width: 20%;
  padding: 5px;
    position: absolute;
width: 208px;
height: 238px;
left: 38px;
top: 1462px;
background: #FFF9F9;
border: 1px solid #C7C7C7;
box-sizing: border-box;
border-radius: 20px;
} */

.auction-img{
    margin-top: 100px;
    float: left;
  width: 20%;
  padding: 5px;
}

#title{
    position: absolute;
    width: 370px;
    height: 89px;
    left: 838px;
    top: 363px;
    font-family: Sevillana;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

#join{
    position: absolute;
    background: #7E5353;
    border-radius: 20px;
    width: 150px;
    height: 41px;
    left: 958px;
    top: 499px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

#cat-tag{
    position: absolute;
    width: 126px;
    height: 28px;
    left: 21px;
    top: 1043px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#cat-btn{
    position: absolute;
    width: 115px;
    height: 33px;
    left: 1288px;
    top: 1042px;
    background: #5A0F0F;
    border-radius: 5px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

#discount-tag{
    position: absolute;
    width: 228px;
    height: 28px;
    left: 21px;
    top: 1411px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#discount-btn{
    position: absolute;
    width: 115px;
    height: 33px;
    left: 1288px;
    top: 1410px;
    background: #5A0F0F;
    border-radius: 5px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

#auction-tag{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 21px;
    top: 1722px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#auction-btn{
    position: absolute;
    width: 115px;
    height: 33px;
    left: 1288px;
    top: 1721px;
    background: #5A0F0F;
    border-radius: 5px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

#seller-p1{
    position: absolute;
    width: 223px;
    height: 28px;
    left: 27px;
    top: 2109px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#seller-p2{
    position: absolute;
    width: 672px;
    height: 29px;
    left: 27px;
    top: 2144px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

#seller-p3{
    position: absolute;
    width: 281px;
    height: 26px;
    left: 27px;
    top: 2180px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

#seller-btn{
    position: absolute;
    width: 285px;
    height: 43px;
    left: 84px;
    top: 2314px;
    background: #5A0F0F;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

#gstin-icon{
    position: absolute;
    width: 77px;
    height: 80px;
    left: 81px;
    top: 2206px;
    background: linear-gradient(0deg, rgba(232, 172, 172, 0.2), rgba(232, 172, 172, 0.2))
}

#gstin{
    position: absolute;
    width: 43px;
    height: 20px;
    left: 98px;
    top: 2282px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

#bank-icon{
    position: absolute;
    width: 77px;
    height: 80px;
    left: 176px;
    top: 2206px;
    background: linear-gradient(0deg, rgba(242, 222, 222, 0.2), rgba(242, 222, 222, 0.2))
}

#bank{
    position: absolute;
    width: 87px;
    height: 20px;
    left: 171px;
    top: 2283px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

#product-icon{
    position: absolute;
    width: 69px;
    height: 71px;
    left: 288px;
    top: 2210px;
    background: linear-gradient(0deg, rgba(242, 222, 222, 0.2), rgba(242, 222, 222, 0.2));
    border-radius: 20px;
}

#product{
    position: absolute;
    width: 90px;
    height: 20px;
    left: 279px;
    top: 2283px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

#why-sell-tag{
    position: absolute;
    width: 262px;
    height: 28px;
    left: 733px;
    top: 2109px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#box-1{
    position: absolute;
    width: 214px;
    height: 219px;
    left: 725px;
    top: 2153px;
    background: #FEFDFD;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 20px;
}

#rupee-icon{
    position: absolute;
    width: 69px;
    height: 71px;
    left: 801px;
    top: 2154px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border-radius: 20px;
}

#box-1-p1{
    position: absolute;
    width: 208px;
    height: 71px;
    left: 727px;
    top: 2230px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

#box-1-p2{
    position: absolute;
    width: 199px;
    height: 60px;
    left: 733px;
    top: 2291px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

#box-2{
    position: absolute;
    width: 214px;
    height: 219px;
    left: 952px;
    top: 2153px;
    background: #FEFDFD;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 20px;
}

#courier-icon{
    position: absolute;
    width: 69px;
    height: 71px;
    left: 1028px;
    top: 2154px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border-radius: 20px;
}

#box-2-p1{
    position: absolute;
    width: 208px;
    height: 71px;
    left: 954px;
    top: 2230px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

#box-2-p2{
    position: absolute;
    width: 199px;
    height: 40px;
    left: 960px;
    top: 2291px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

#box-3{
    position: absolute;
    width: 214px;
    height: 219px;
    left: 1176px;
    top: 2153px;
    background: #FEFDFD;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 20px;
}

#all-ind-srv{
    position: absolute;
    width: 69px;
    height: 71px;
    left: 1252px;
    top: 2154px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border-radius: 20px;
}

#box-3-p1{
    position: absolute;
    width: 208px;
    height: 71px;
    left: 1178px;
    top: 2230px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

#box-3-p2{
    position: absolute;
    width: 199px;
    height: 80px;
    left: 1184px;
    top: 2291px;
    font-family: TharLon;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}