body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFECEC;
    align-items: center;
}

#signUpText
{
    text-align: center;
    
   /* width: 151px;
   height: 81px;
   left: 525px;
   top: 117px;
   margin-left: 10px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 42px;
   display: flex;
   align-items: center;
   color: #000000;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    
}

#signUpForm{
    position: absolute;
    left: 498px;
    right: 499px;
    top: 117px;
    bottom: 386px;
    height: 600px;
    background: #FFECEC;
    border: 1.03928px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20.7855px;
}

#name{
    /* position: absolute; */
    width: 356px;
    height: 39px;
    margin-left: 35px;
    left: calc(50% - 356px/2 - 2px);
    top: calc(50% - 39px/2 - 271.5px);
    background: #FFF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#mobileNumber{
    /* position: absolute; */
width: 356px;
height: 39px;
left: calc(50% - 356px/2 - 2px);
top: calc(50% - 39px/2 - 200.5px);
margin-left: 35px;
align-items: center;
text-align: center;
font-size: 20px;
margin-top: 20px;

background: #FFF9F9;
box-shadow: 0px 3.50949px 3.50949px rgba(0, 0, 0, 0.25);
border-radius: 17.5474px;

font-family: Roboto;
font-style: normal;
font-weight: 100;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}

#email{
    /* position: absolute; */
width: 356px;
height: 39px;
left: calc(50% - 356px/2 - 2px);
top: calc(50% - 39px/2 - 129.5px);

background: #FFF9F9;
box-shadow: 0px 3.50949px 3.50949px rgba(0, 0, 0, 0.25);
border-radius: 17.5474px;

font-family: Roboto;
font-style: normal;
font-weight: 100;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
margin-left: 35px;
align-items: center;
text-align: center;
font-size: 20px;
margin-top: 20px;

color: #000000;
}

#password{
    /* position: absolute; */
    width: 356px;
    height: 39px;
    left: calc(50% - 356px/2 - 2px);
    top: calc(50% - 39px/2 - 58.5px);
    background: #FFF9F9;
    box-shadow: 0px 3.50949px 3.50949px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 35px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
#submit
{
    /* position: absolute; */
    width: 356px;
    height: 39px;
    margin-top: 55px;
    margin-left: 0px;
    left: calc(50% - 356px/2 - 2px);;
    top: calc(50% - 39px/2 + 37.5px);
    color: white;
    background: #4D3333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;
    font-size: 20px;
}
#confirmPassword{
    /* position: absolute; */
    width: 356px;
    height: 39px;
    left: calc(50% - 356px/2 - 2px);
    top: calc(50% - 39px/2 - 58.5px);
    background: #FFF9F9;
    box-shadow: 0px 3.50949px 3.50949px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 35px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#button{
    /* position: absolute; */
    width: 356px;
    height: 39px;
    left: calc(50% - 356px/2 - 2px);
    top: calc(50% - 39px/2 + 37.5px);
    background: #4D3333;
    box-shadow: 0px 3.50949px 3.50949px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#para{
    position: absolute;
    margin-top: 5000x;
    width: 912px;
    height: 75px;
    left: 604px;
    top: 720px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#signIn{
    position: absolute;
    left: 470px;
    /* right: 37.64%; */
    top: 790px;
    /* bottom: 20.31%; */
    height: 40px;
    width: 500px !important;
    color: white;
    background: #4D3333;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;
    font-size: 20px;
}

#logo{
    position: absolute;
    width: 235px;
    height: 67px;
    left: 602px;
    top: 0px;
}
#craftastic
{
    /* position: absolute; */
    width: 235px;
    height: 67px;
    left: 602px;
    top: 0px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}