 #signInForms{
    position: absolute;
    left: 498px;
    right: 499px;
    top: 117px;
    bottom: 386px;
    height: 450px;
    background: #FFECEC;
    border: 1.03928px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20.7855px;
} 
#forgotPassword
{
    /* position: absolute; */
    width: 278px;
    height: 40px;
    left: 542px;
    top: 684px;
    margin-top: 30px;
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #000000;
    text-decoration-line: none;
}
#newToCraftastic
{
    position: absolute;
    width: 912px;
    height: 75px;
    left: 634px;
    top: 556px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
#signUp
{
    position: absolute;
    left: 470px;
    /* right: 37.64%; */
    top: 620px;
    /* bottom: 20.31%; */
    height: 40px;
    width: 500px !important;
    color: white;
    background: #4D3333;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5474px;
    font-size: 20px;
}